<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233475430670-vmlhs6er38av9p16tkvei2mqtnavdbns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233475430670-vmlhs6er38av9p16tkvei2mqtnavdbns</string>
	<key>API_KEY</key>
	<string>AIzaSyCyNBZt2ct6ILzzZhJGGRkBzRJrd6miTOI</string>
	<key>GCM_SENDER_ID</key>
	<string>233475430670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>dummynew-6c4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>dummynew-6c4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233475430670:ios:a36c162c3acc00deb4df5f</string>
</dict>
</plist>